@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 550;
    color: rgba(0, 0, 0, 0.575);
}
/* Stile generale container */
.container {
    margin: 0 10%;
}
.container div{
    margin-bottom: 30px;
}

/* stile contanier mezzo */
.store {
    background-color: red;
   display: flex;
   justify-content: space-between;
}

 /* Container immagine scritta */
.scritta {
    width: 50%;
    display: inline-block;
}

 /* Container dei logo */
.store .logo-store {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
.logo-store img {
    display: inline-block;
    width: 13%;
    height: 25%;
}

/* Stile container fine */
.shop {
    display: inline-block;
    width: 70%;
}

/* Forma e colore bottone */
.button {
    display: inline-block;
}
.btn{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 65px;
    font-size: 1.25rem;
    position: relative;
    font-weight: 600;
    color: aliceblue;
    background: red;
    border-radius: 3%;
    transition: transform 0.3s ease;
    margin-top: 10px;
    border-radius: 5px;
}
.button:hover {
    transform: scale(1.05);
    filter: brightness(0.8);
}

/* dimensione immagine switch */
.nintendo-switch img {
    width: 100%;
}

/* Stile Card */
.cards{
    display: flex;
    justify-content: space-between;
}
.cards p{
    font-weight: 300;
}
.cards a h3:hover {
    color: red;
}

/* News cards */
.news-mid-cards {
    width: 49%;
}
.news-mid-cards img{
    width: 100%;
}
.news-mid-cards a, .news-mini-cards a{
    color: red;
    font-weight: 500;
    text-decoration: none;
}
.news-mini-cards, .character-mini-cards {
    width: 22%;
}
.news-mini-cards img, .character-mini-cards img{
    width: 100%;
}
.news-mid-cards a:hover, .news-mini-cards a:hover {
    filter: brightness(0.8);
}

/* Characters cards */
.character-mini-cards a img:hover {
    transform: scale(1.03);
}