@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.container {
    margin: 5%;
}

/* stile contanier mezzo */
.store {
    background-color: red;
   display: flex;
   justify-content: space-between;
}
 /* Container immagine scritta */
.scritta {
    width: 50%;
    display: inline-block;
}
 /* Container dei logo */
.store .logo-store {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.logo-store img {
    display: inline-block;
    width: 13%;
    height: 25%;
}

/* Stile container fine */
.shop {
    display: inline-block;
    width: 70%;
}


/* Forma e colore bottone */
.button {
    display: inline-block;
}
.btn{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 65px;
    font-size: 1.25rem;
    position: relative;
    font-weight: 600;
    color: aliceblue;
    background: red;
    border-radius: 3%;
    transition: transform 0.3s ease;
    margin-top: 10px;
}

/* dimensione immagine switch */
.nintendo-switch img {
    width: 100%;
}

/* Stile Card */
.cards{
    display: flex;
    justify-content: space-between;
}

.mid-card img{
    width: 100%;
}
.mini-card {
    width: 22%;
}
.mini-card img{
    width: 100%;
}
